@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 99, 99;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    /*background: linear-gradient(*/
    /*        45deg,*/
    /*        rgba(110, 51, 203, 0.6),*/
    /*        rgba(236, 50, 159, 0.6)*/
    /*) rgb(var(--background-start-rgb));*/
    /* Add the background image URL */
    background-image: url('./../../public/bg-image.png');
    /* Set the background size and position as needed */
    background-size: cover;
    background-position: center;
}
